@model TEST.Models.ConfiguracionGeneralModel

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function GuardarConfiguracion() {

            var CamposVacios = new Array;
            var Errores = false;

            if ($("#TxtTasaFinanciamiento").val() == "" || !$.isNumeric($("#TxtTasaFinanciamiento").val()))
            {
                CamposVacios.push('Tasa Financiamiento')
            }

            if ($("#TxtPorcentajeEnganche").val() == "" || !$.isNumeric($("#TxtPorcentajeEnganche").val())) {
                CamposVacios.push('Porcentaje Enganche')
            }

            if ($("#TxtPlazoMaximo").val() == "" || !$.isNumeric($("#TxtPlazoMaximo").val())) {
                CamposVacios.push('Plazo Máximo')
            }

            if (CamposVacios.length > 0)
            {
                ShowMessage('No es posible continuar, debe ingresar ' + CamposVacios.join(" , ") + ' es obligatorio', 'alert-danger');
                return;
            }

            var configuracionParam = new Object();
            configuracionParam.TasaFinanciamiento = parseFloat($("#TxtTasaFinanciamiento").val()).toFixed(2);
            configuracionParam.PorcentajeEnganche = parseFloat($("#TxtPorcentajeEnganche").val()).toFixed(2);
            configuracionParam.PlazoMaximo = parseInt($("#TxtPlazoMaximo").val());

            $.ajax({
                url: "/Configuracion/GuardarConfiguracion",
                type: "POST",
                data: configuracionParam,
                cache: false,
                dataType: "json",
                success: function (result) {
                    ShowMessage('Bien Hecho. La configuración ha sido registrada', 'alert-success');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }

        function Cancelar() {
            window.location.href = "/Home/Index";
        }
    </script>

    <style type="text/css">
        .DivConfig {
            border: none;
            padding: 3px;
            border-radius: 5px;
            -ms-border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            background-color: #347AB8;
            color: rgba(255,255,255,0.7);
        }
    </style>
}

<div style="width:80%; margin-left:20%; float:left;">
    <div style="width:100%; float:left; height: 40px; background-color:#89CBEF; border-radius: 5px 5px 0px 0px;">
        <span style="padding: 10px;float: left;">Registro de Clientes</span>
    </div>
    <div style="width:100%; float:left; border: 1px solid #89CBEF; margin-bottom:20px;">
        <div style="float:right; color: green;margin-right:20%;">
            
        </div>


        <div class="row" style="margin-top:40px;">
            <div class="col-md-2">
            </div>
            <div class="col-md-2" style="text-align:right">
                Tasa Financiamiento:
            </div>
            <div class="col-md-2">
                <input type="text" id="TxtTasaFinanciamiento" value="@Model.TasaFinanciamiento">
            </div>
            <div class="col-md-2">
            </div>
        </div>


        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
            </div>
            <div class="col-md-2" style="text-align:right">
                % Enganche:
            </div>
            <div class="col-md-2">
                <input type="text" id="TxtPorcentajeEnganche" value="@Model.PorcentajeEnganche">
            </div>
            <div class="col-md-2">
            </div>
        </div>

        <div class="row" style="margin-top:10px; margin-bottom:20px;">
            <div class="col-md-2">
            </div>
            <div class="col-md-2" style="text-align:right">
                Plazo Máximo:
            </div>
            <div class="col-md-2">
                <input type="text" id="TxtPlazoMaximo" value="@Model.PlazoMaximo">
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>



<div id="DivGuardar" style="float:right;  font-size:12px; text-align:right; margin-right:12px;margin-top:40px;">
    <div class="DivConfig" onclick="Cancelar();" style="width:60px; float:left; margin-right:25px;background: green;padding: 6px;">
        Cancelar
    </div>
    <div class="DivConfig" onclick="GuardarConfiguracion();" style="width:60px; float:left;background: green;padding: 6px;">
        Guardar
    </div>
</div>